table{
    width: 500px;
    height: 300px;
}
td{
    font-weight: bold;
    text-align: center;
}
td{
    font-weight: normal;
    text-align: center;
}
h2{
    font-style: italic;
    font-size: 40px;
    font-weight: normal;
}
h1{
    font-size: 50px;
    text-align: center;

}
p{
    font-weight: 30px;
}
.n25{
    font-family: "Comic Sans MS";

}
.n26{
    font-size: 30px;
    line-height: 45px;
}
.n26{
    font-size: 30px;
    line-height: 1.5;
}
