/* 1 */
.eee .bbb {
	color: red;
}
/* классы .eee and .bbb будут красными */

/* 2 */
.eee h2 {
	color: red;
}
/* все заголовки которые в еее будут красными */

/* 3 */
.eee h2.bbb {
	color: red;
}
/* все х2 с классом ббб будут красными */

/* 4 */
.eee h3.bbb {
	color: red;
}
/* все х3 с классом ббб будут красными */

/* 5 */
.eee p.bbb {
	color: red;
}
/* абзац с классом ббб в классе еее будет красным */

/* 6 */
.eee .bbb .kkk {
	color: red;
}
/* группировка */